/* 
* @Author: Marte
* @Date:   2018-12-03 20:36:06
* @Last Modified by:   Marte
* @Last Modified time: 2018-12-03 21:27:25
*/
.ant-carousel .slick-slide {
  text-align: center;
  width: 375px;
  height: 187px;
  line-height: 187px;
  background: #364d79;
  overflow: hidden;
}
img{
    width: 375px;
    height: 187px;     
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}