/* 
* @Author: Marte
* @Date:   2018-12-03 20:36:06
* @Last Modified by:   Marte
* @Last Modified time: 2018-12-04 11:50:50
*/
.ant-carousel .slick-slide {
  text-align: center;
  width: 100%;
  height: 187px;
  line-height: 187px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}