.syBottom{
    height: 50px;
    width: 375px;
    background: #fff;
    position:fixed;
    bottom: 0;
    left: 0;
    display: flex;
   
    li{
        width: 75px;
        height: 50px;
         float: left;
         a{
            i{
                display: block;
                width: 24px;
                height: 24px;
                text-align: center;
                margin: 2px  auto;
                font-size: 24px;
                color: #9a9a9a;
            }
            span{
                font-size: 16px;
                color: #9a9a9a;
            }
         }
         img{
            margin-top: 5px;
            width: 40px;
            height: 40px;
         }
    }
}