html {
  font-size: 16px;
  -ms-touch-action: none; }

.top-bar {
  position: fixed;
  z-index: 990;
  width: 100%;
  top: 0;
  height: 2.8125rem;
  line-height: 2.8125rem;
  border-bottom: 1px solid #e1e1e1;
  text-align: center;
  background-color: #fff;
  font-weight: 600;
  background: linear-gradient(180deg, #fff, #efefef);
  padding: 0 1.25rem; }
  .top-bar a {
    float: left; }

.user-passport {
  margin-top: 3.4375rem; }
  .user-passport input {
    line-height: 21px;
    width: 21.5625rem;
    height: 2.5rem;
    margin-bottom: 0.9375rem;
    padding: 0.625rem 0.9375rem;
    -webkit-user-select: text;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    outline: 0;
    background-color: #fff;
    -webkit-appearance: none; }
  .user-passport button {
    display: block;
    padding: 10px 12px;
    font-size: .7rem;
    color: #fff;
    border: 1px solid #bb0511;
    background-color: #bb0511;
    width: 21.5625rem;
    margin: 0.625rem auto; }

.example-input{
  height: 3.0rem;
  width: 21.5625rem;
  margin: 10px auto;
}
  .smsCode{
    display:inline-block;
    float: right;
    width: 45%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 3px;

  }
  .text-bottom{
    float: right;
    margin-right: 1.0rem;
  }